{% extends "base.html" %}

{% block body %}
<div class="streamer-view-container" id="container left" min-width= "600px">
  <br>
  <div class="container" style="padding-bottom: 20px;">
    <div class= "feed">
      <img id="streamer-image" class= "feed-img" src="{{ url_for('video_feed') }}">
      <div class=textoverlay>
        <p> Jetson Nano Feed </p>
        <h5> <em>Device:</em> alwaysAI@demonano.local </h5>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card-deck">
      <div class="card">
          <div class="card-title">
            <h5> Detection Feed </h5>
          </div>
          <div style="width: 100%" class="card-img">
              <img class="streamer-text" src="{{ url_for('text_feed') }}">
          </div>
      </div>
      <div class="card">
          <div class="card-scroller">
            <div class="card-title">
              <h5> Control Panel </h5>
            </div>
            <a href="{{url_for('view_all_rois')}}"><button class="btn btn-info" type="submit" name="program-configure"><i class="fa fa-cog"></i><h6> Configure Regions </h6></button></a>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
