{% extends "base.html" %}

{% block body %}
<body class="tos-bg">
    <div class="container" min-width= "720px" width="80%">
        <div class="dash-sub-title">
        <h1>Select ROI Set Label</h1>
        <br>
        <div id="videos" class="container" min-width= "720px" width="100%">
            <div class="container-fluid">
                <div class="row mt-5">
                {% if rois %}
                    <form method="POST" action="{{url_for('set_rois')}}">
                        <select name="roi">
                            {% for roi in rois %}
                                <option value="{{ roi }}">{{ roi }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <div>
                            <button class="btn btn-info" type="submit" name="program-configure"><i class="fa fa-cog"></i> Configure ROI </button>
                        </div>
                    </form>
                {% else %}
                    <div>No ROI Sets Yet</div>
                {% endif %}
                </div>
            </div> 
        </div>
        <div class="container" min-width= "1024px" width="100%">
            <a href="{{url_for('index')}}"><button class="btn home-btn"><i class="fa fa-home"></i> Home</button></a>
        </div>
        <br>
    </div>
</body>
{% endblock %}